@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
    font-family: 'Roboto Condensed', sans-serif;
}

.title_section {
    background-color: aquamarine;
    height: 60px;
    border: 2px solid black;
    display: flex;
    margin: 5px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.title_section .nav_items {
    display: flex;
}

.title_section .nav_items li {
    flex: 1;
}

.nav_items {
    list-style: none;
}


